@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  text-align: center;
  background: #34547a;
  border: 2px solid transparent;
  color: #ffffff;
  transition: 0.5s;
}
.btn:hover {
  background-color: #ffffff;
  border: 2px solid #34547a;
  color: #34547a;
  border-radius: 10px;
}

.header {
  position: sticky;
  width: 100%;
  top: 0;
  background-color: #ffffff;
  z-index: 2;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  align-items: center;
}
.header .nav__list {
  display: flex;
  gap: 42px;
}
.header .nav__list-link {
  color: inherit;
}
.header .nav__list-link:hover {
  color: #34547a;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-6 {
  width: 50%;
  padding: 0 15px;
}

.col_helper {
  max-width: 450px;
}

.home {
  padding-top: 260px;
  padding-bottom: 136px;
  background-color: #eeeff1;
}
.home__row {
  display: flex;
  flex-wrap: wrap;
  padding-left: -15px;
  padding-right: -15px;
}
.home__title {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
  margin-bottom: 60px;
}
.home__description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 60px;
}
.home__btn {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.1em;
  padding: 25px 41px;
}

.about {
  margin: 0 auto;
  text-align: center;
  padding-top: 119px;
  padding-bottom: 100px;
  max-width: 540px;
}
.about__title {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 50px;
}
.about__description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

.projects {
  background-color: #34547a;
}
.projects__row {
  display: flex;
  padding: 100px 0;
  gap: 52px;
}
.projects-item {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  gap: 20px;
}
.projects__numbers {
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
}
.projects__description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

.skills__row {
  padding: 102px 0;
  display: flex;
  flex-wrap: wrap;
}
.skills-img {
  width: 555px;
  height: 450px;
}
.skills__title {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 30px;
  padding-top: 102px;
  margin-bottom: 50px;
}
.skills__description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  position: relative;
  margin-bottom: 54px;
  color: #727272;
}
.skills__description::before {
  content: "";
  top: 38px;
  position: absolute;
  width: 445px;
  height: 4px;
  background: #c4c4c4;
}
.skills__description::after {
  content: "";
  position: absolute;
  background: #34547a;
  top: 38px;
  left: 0;
  width: 349px;
  height: 4px;
}

.work {
  background: #eeeff1;
  padding: 100px 0;
}
.work__item {
  margin: 0 auto;
  text-align: center;
  max-width: 540px;
}
.work__title {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 30px;
  margin-bottom: 50px;
}
.work__description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 57px;
  color: #727272;
}
.work-vid {
  cursor: pointer;
  width: 1110px;
  height: 600px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  padding-top: 28px;
}
.portfolio__img {
  width: 100%;
  height: 100%;
}
.portfolio div {
  position: relative;
  cursor: pointer;
}
.portfolio div::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.6s;
}
.portfolio div:hover::before {
  content: "";
  background-color: rgba(52, 84, 122, 0.8);
}
.portfolio div::after {
  content: "";
  position: absolute;
  transition: 0.5s;
}
.portfolio div:hover::after {
  content: url(../img/portfolio/eye.png);
  top: 40%;
  left: 40%;
}

.clients {
  padding: 72px 0 100px;
}
.clients__row {
  display: flex;
  gap: 30px;
}

.contacts {
  background: #eeeff1;
  padding: 100px 0;
}
.contacts__item {
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
}
.contacts__title {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 30px;
  margin-bottom: 50px;
}
.contacts__description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 65px;
  color: #727272;
}
.contacts input {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  padding: 17px 0 18px 20px;
  width: 255px;
  height: 50px;
  outline: none;
  border: none;
  margin-right: 26px;
  margin-bottom: 20px;
}
.contacts input:last-of-type {
  margin-right: 0;
}
.contacts input::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #5f5d5d;
}
.contacts input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #5f5d5d;
}
.contacts textarea {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  padding: 17px 20px 0;
  border: none;
  resize: none;
  outline: none;
  overflow: hidden;
  width: 540px;
  height: 175px;
  margin-bottom: 50px;
}
.contacts textarea::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #5f5d5d;
}
.contacts textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #5f5d5d;
}
.contacts__btn {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.15em;
  padding: 20px 19px;
}

.footer {
  background: #34547a;
  color: #ffffff;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
.footer__title {
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 19px;
  margin-bottom: 20px;
}
.footer__description {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 12px;
}
.footer ul {
  display: flex;
  gap: 22px;
}/*# sourceMappingURL=style.css.map */